.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
    background: url('../../public/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}


.home-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-content {
  margin-top: 18rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.home-content-left {
    margin-left: 3rem;
  width: 28rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-content-right {
  display: flex;
  align-items: flex-end;
}

.home-explore {
  text-transform: uppercase;
  border-radius: 50%;
  width:17.125rem;
  height: 17.125rem;
  border: none;
  outline:0rem solid rgba(255, 255, 255, 0.0);
  transition: .3s;
}

.home-explore:hover {
  outline: 5.5rem solid rgba(255, 255, 255, 0.2);
}

.home-bodytext {
  line-height: 2rem;
}

.home-heading-1 {
  margin: 2rem 0;
}


@media screen and (max-width: 1080px) {



  .home-heading-1 {
    font-size: 7rem;
  }

  .home-content {
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home-heading-5 {
    margin-top: 3rem;
    text-align: center;
  }

  .home-content-left {
    margin: 0rem;
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-bodytext {
  line-height: 2rem;
  width: 80%;
  margin-bottom: 2rem;
}

.home-explore {
  margin: 2rem 0;
  text-transform: uppercase;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  border: none;
  outline:0rem solid rgba(255, 255, 255, 0.0);
  transition: .3s;
}

.home-explore:hover {
  outline: 2.2rem solid rgba(255, 255, 255, 0.2);
}
}

@media screen and (max-width: 900px){
.home {
  background: url('../../public/assets/home/background-home-tablet.jpg');
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
}


@media screen and (max-width: 586px) {
  .home-heading-1 {
    font-size: 6rem;
  }

  .home-heading-5 {
    font-size: 1.5rem;
  }
}