@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

:root {
  --main-black: #0B0D17;
  --light-purple: #D0D6F9;
  --main-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger, .close {
  display: none;
}

.heading-1 {
  font-weight: 400;
  color: var(--main-white);
  font-family: 'Bellefair', serif;
  font-size: 9.375rem;
  text-transform: uppercase;
}

.heading-2 {
  font-family: 'Bellefair', serif;
  font-size: 6.25rem;
}

.heading-3 {
  text-transform: uppercase;
  color: var(--main-white);
  font-weight: 400;
  font-family: 'Bellefair', serif;
  font-size: 3.5rem;
}

.heading-4 {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-family: 'Bellefair', serif;
  font-size: 2rem;
}

.heading-5 {
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.75rem;
  letter-spacing: 4.75px;
  color: var(--light-purple);
  text-transform: uppercase;
}

.sh1 {
  color:#FFFFFF;
text-transform: uppercase;
  font-family: 'Bellefair', serif;
  font-size: 1.75rem;
}

.sh2 {
  color: #D0D6F9;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 2.35px;
}

.navtext {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
}

.nav-li {
  height: 100%;
  margin: 1.5rem;
  list-style-type: none;
}

.btn-nav:hover {
  padding-top: 4px;
  border-bottom: 4px solid rgba(255, 255, 255, .20);
}

.btn-nav.active {
  padding-top: 4px;
  border-bottom: 4px solid rgba(255, 255, 255, 1);
}

.btn-nav {
  /* transition: .2s; */
  height: 100%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  color: var(--main-white);
}

.nav-ul {
  /* z-index: +1; */
  background-color: rgba(255, 255, 255, .1);  
  backdrop-filter: blur(10px);
  height: 6rem;
  width: 51.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  z-index: 1;
  border: 1px solid grey;
  width: 30%;
  display: inline;
}

nav {
  width: 100vw;
  position: absolute;
  top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 45px;;
}

.bodytext {
  color: #D0D6F9;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 1080px) {
  nav {
    width: 100%;
  }
  hr {
    display: none;
  }
}

@media screen and (max-width: 586px) {
.nav-ul {
  z-index: 1;
  flex-direction: column;
  backdrop-filter: blur(40px);
  height: 100vh;
  width: 14rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-ul.show {
  display: flex;
}


nav {

top:0;
  align-items: flex-start;
}

.logo {
  margin-top: 2.5rem;
}

.hamburger {
  display: block;
  z-index: 2;
  position: absolute;
  right: 2rem;
  top: 2.5rem;
}

.btn-hamb {
  display: none;
  z-index: 2;
outline: none;
background-color: transparent;
border: none;
}

.btn-hamb.show{
display: block;
  }

  .close {
display: block;
    z-index: 2;
    position: absolute;
    right: 2rem;
    top: 2.5rem;
  }

  .btn-close {
    z-index: 2;
  outline: none;
  background-color: transparent;
  border: none;
  display: none;
  }
  
  .btn-close.show{
  display: block;
    }

.nav-li {
  height: 3rem;
  margin: 1.5rem;
  list-style-type: none;
}

}